@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* global variables */
:root{
  --blue-primary: #1f7ec2;
  --blue-secondary: #35bdeb;
  /* --pink-tertiary: #f51055;
  --pink-dark: #700223; */
}

*{
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--blue-secondary);
}

#navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

#navbar h1 {
  color: var(--blue-primary);
  font-size: 1.5em;
  font-weight: bold;
}

#navbar #main_logo{
  width: 100px;
}

#navbar #links {
  margin-left: auto;
}

#navbar a{
  color: #333;
  margin-left: 16px;
  padding: 6px;
}

#navbar a:hover {
  color: var(--blue-secondary);
}